.pokemon-content {
	display: flex;
	@media (max-width: 1024px) {
		flex-direction: column;
	}
}
.pokemon-sidebar {
	background-color: rgba(255, 255, 255, 0.9);
	flex-basis: 15rem;
	padding: 0 1rem;
	flex-shrink: 0;
	// flex-grow: 1;
}

.pokemon-bar {
	background-color: rgba(255, 255, 255, 0.2);
	color: #fff;
	padding: 1rem;
	font-size: 0.85em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.loader-progress {
		display: flex;
		padding: 0.15rem;
		align-items: center;
		&-title {
			margin-right: 1rem;
		}
	}
	// background-color: ;
}
.pokemon-inner-bar {
	padding-bottom: 2rem;
	@media (max-width: 1024px) {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	@media (min-width: 1024px) {
		padding-top: 2rem;
		padding-bottom: 1rem;
		h2 {
			display: none;
		}
	}
}

.pokemon-inner-content {
	background-color: rgba(255, 255, 255, 0.9);
	flex-grow: 1;
}
